<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Beeston New Testament Church of God</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114.png">
	<link href="css/uikit.css" rel="stylesheet" media="all">
	<link href="css/styles.css" rel="stylesheet" media="all">
</head>
<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

<!-- Spinner -->
<div class="spinner">
	<div class="spinner_wrapper">
		<div class="spinner_folding_cube">
			<div class="spinner_cube1 spinner_cube"></div>
			<div class="spinner_cube2 spinner_cube"></div>
			<div class="spinner_cube4 spinner_cube"></div>
			<div class="spinner_cube3 spinner_cube"></div>
		</div>
	</div>
</div>

<!-- Page wrapper -->
<div class="wrapper">

<!-- Header -->
<header class="uk-small-hidden header">
	<nav class="uk-navbar header-nav">
		<div class="uk-container uk-container-center">
			<a class="uk-navbar-brand logo_link">
				<img class="uk-responsive-height logo" src="images/new-testament-church-of-god.png" alt="">
			</a>
			<div class="uk-navbar-flip uk-visible-large">
				<ul class="uk-navbar-nav header-nav-list">
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_features header_nav_list_item_link" href="#">Meeting Times</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">A Place For Everyone</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_pricing header_nav_list_item_link" href="#">What We Believe</a>
					</li>
					<!--<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_clients header_nav_list_item_link" href="#">Clients</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Facts</a>
					</li>-->
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_projects header_nav_list_item_link" href="#">Gallery</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Ministry Team</a>
					</li>
					<!-- <li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_customers header_nav_list_item_link" href="#">Testimonies</a>
					</li> -->
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_visit header_nav_list_item_link" href="#">Contact</a>
					</li>
				</ul>
			</div>
			<div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
				<div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
			</div>
		</div>
	</nav>
</header>

<!-- Text container -->
<section class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden sepia_overlay container">
	<div class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

		<div class="container_block">
			<img class="gospel-banner-img" src="images/gospel-banner.png" alt=""/>
			<!-- <h1 class="uk-h1 container_title">THE GOSPEL</h1>
			<h2 class="uk-h2 container_subtitle">OF JESUS CHRIST</h2> -->
			<div class="container_description">Herein is love, not that we loved God, but that he loved us, and sent his Son to be the propitiation for our sins. 1 John 4:10 (KJV)</div>
			<!-- BUTTONS -->
			<div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded green_button container_button_message">Find out more...</div>
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded container_button_subscribe">Request Prayer</div>
			</div>
		</div>

	</div>
	<div data-ng-click="scrollNav($event)" class="uk-icon-angle-down container_arrow"></div>
</section>

<!-- Elements -->
<section class="elements section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-margin-bottom animated section_title elements_title">Meeting Times</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We have two fixed regular days of meeting at the premises on Dewsbury Road throughout the year with additional services, meetings and outreach happening in-between. Please like our facebook page to keep up to date with details off additional church services and events.</h4>
		<h3 class="uk-h3">Thursday Prayer & Praise Meeting 8pm - 9:30pm</h3>
		<h3 class="uk-h3">Sunday Morning Prayer 10:00am - 11:00am</h3>
		<h3 class="uk-h3">Youth Training School 10:30am - 11:15am</h3>
		<h3 class="uk-h3">Sunday Morning Worship Service 11:15am - 1:00pm</h3>
		<h3 class="uk-h3"> </h3>
		<!-- <div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<a class="uk-icon-facebook social_list_item_link" href="#"></a>
				    <div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-thumbs-o-up uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Price</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-line-chart uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">High quality</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-bar-chart-o uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Advanced analytics</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-clock-o uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">24/7 Support</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
		</div> -->
	</div>
	<div class="uk-container uk-container-center uk-text-center">
		<a href="https://www.facebook.com/NTCGBeeston/">
			<img src="images/FB-Live-Header.png" class="fb-live-img"/>
		</a>		
		<h4 class="uk-h4 section_subtitle"><strong>All sermons from our Sunday morning services are streamed live via our facebook page</strong></h4>			
	</div>
</section>

<!-- Description -->
<!--<section class="description section">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-large-1-2 uk-flex uk-flex-middle">
			<div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-margin-large-bottom animated description_title">Web Portals and Enterprise Applications Development</h3>
				<p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p>
			</div>
		</div>
		<div class="uk-width-large-1-2 description_image" data-image="images/flowers_praise.png"></div>
	</div>
</section>-->

<!-- Description secondary -->
<!--<section class="description description_secondary section">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-large-1-2 description_image" data-image="images/tom_worship.png"></div>
		<div class="uk-width-large-1-2 uk-flex uk-flex-middle">
			<div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-margin-large-bottom animated description_title">The best start for your business idea</h3>
				<p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p>
			</div>
		</div>
	</div>
</section>-->

<!-- Features -->
<section class="features grey_overlay section">
	<div class="uk-container uk-container-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">A Place For Everyone</h3>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">The New Testament Church of God is an well-established international church that has held services in South Leeds for the last 40 years. Seeking to fullfil the will of God in taking the message of the Gospel of Jesus 
				Christ into all the earth and to be salt and light in our community.</h4>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">The specific vision for the fellowship that currently meets on Dewsbury Road is that we would be a sanctuary for the community and a spiritual hospital where people from all walks of life can come and recieve blessing, healing and 
			restoration from the hand of our Father, God.</h4>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">This vision continues to be fulfilled through the transformation of the lives of all who regularly attend the services, which due to the area in which the church is located, consists of believers of many different nationalities. 
			Truly God is no respecter of persons and full of mercy and truth for all who will seek him sincerely, with all their heart.</h4>
		<div class="uk-grid uk-grid-large">
			<p class="uk-text-contrast features_text">
				
			</p>
			<!--<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-html5 features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Web development</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-signal features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Digital Marketing</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-picture-o features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Responsive design</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-trophy features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Product Branding</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-search features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Search engine optimization</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-lightbulb-o features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Innovative technologies</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</section>

<!-- Price -->
<section class="price section">
	<div class="uk-container uk-container-center uk-text-center price_container" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center animated section_title price_title">What We Believe</h3>
		<h4 class="uk-h4 uk-margin-large-bottom uk-text-center animated section_subtitle">The New Testament Church of God follows the same basic Orthodox beliefs of every major protestant denomination. For example: like our Anglican family we believe in the virgin birth, the holy trinity, the atonement, the resurrection 
				and the soon return of Jesus Christ.<h4>
		<h4 class="uk-h4 uk-margin-large-bottom uk-text-center animated section_subtitle">Like our Baptist brothers and sisters we offer Baby dedications but do not practise the baptism of infants as in the Bible this is an act of repentance by a person who has become concious of 
				their seperation from God due to their own sin. Many of the NTCG pioneers were from a Weslyan Methodist background and the church still holds to the belief that holiness is God's standard for humankind.</h4>
		<h4 class="uk-h4 uk-margin-large-bottom uk-text-center animated section_subtitle">As a church we seek to be 
				true to the teachings of Jesus Christ and therefore we encourage all believers to seek the baptism of fire that John the Baptist said would come by Jesus Christ, which is the Baptism of the Holy Ghost experienced by the first 
				disciples on the day of Pentecost and is still being experienced by believers today.</h4>
		<!--<div class="uk-grid">
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Basic</h4>
						<p class="price_block_cost">$10</p>
					</div>
					<div class="price_block_text">1 Design Version</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">1GB Disk Space</div>
					<div class="price_block_text">Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Standard</h4>
						<p class="price_block_cost">$20</p>
					</div>
					<div class="price_block_text">2 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">5GB Disk Space</div>
					<div class="price_block_text">Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom best_price price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Premium</h4>
						<p class="price_block_cost">$50</p>
					</div>
					<div class="price_block_text">5 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">10GB Disk Space</div>
					<div class="price_block_text">Phone & Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Extra</h4>
						<p class="price_block_cost">$100</p>
					</div>
					<div class="price_block_text">10 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">25GB Disk Space</div>
					<div class="price_block_text">Phone & Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</section>

<!-- Subscribe -->
<section class="subscribe grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title subscribe_title">The Gospel of Jesus Christ</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">
			One thing the majority of people agree upon is that the world is not as it ought to be. The hymn Abide with Me puts it like this: "Death and decay in all around 
			I see" The Bible tells us this "fallen state" the world finds itself in is a direct result of the decision of God's finest creation, mankind, to first reject God, 
			then to become alienated from Him and finally to turn against Him.
		</h4>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">
			Throughout the Old Testament people were told of a radical change that would come to the earth through one special person. The Gospel ( translated meaning: "good announcement" ) 
			of Jesus Christ that has been proclaimed for over 2000 years is that this person has come. With Him is also the intervention and revelation of God's 
			programme for  restoring this dying, lost, and hoplessly rebellious creation. The intervention being that with repentance (deep sorrow over our former way of living accompanied by a change of 
			action) and through faith (or trust) in the finished work of his only Son Jesus (namely: His perfect sinless life culminating in his willing self-sacrifice for the sins of 
			the whole world) we can all recieve forgiveness, and obtain freedom from, sin; be transformed ("born-again") by grace (undeserved favour); know God personally; live as His sons 
			and daughters; be filled with the Holy Sprit and ultimately share in His ressurection to live forever with Him.
		</h4>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">
			Because the falleness of mankind and its rebellion to the will and purpose of God is, you could say, in our DNA, generations of Christians have suffered and are sufferring intense 
			persecution for simply proclaiming the Gospel message. Jesus himself encourages us nevertheless with the following words: "And fear not them which kill the body, 
			but are not able to kill the soul: but rather fear him which is able to destroy both soul and body in hell." (Matt 10:28 KJV) The Gospel message then is not merely a message
			essential for the here and now but also for eternity. The book of Hebrews says "It is appointed once for man to die and then face the judgement" (Heb 9:27 KJV) but also Peter 
			gives us the Fathers heart and His will for us in that He is "not willing that any should perish, but that all would come to repentance" (2 Peter 3:9 KJV) Yet this same Peter is very 
			clear when he tells the authorities of his time of how a cripled man was healed that: "there is none other name under heaven given among men, whereby we must be saved" (Acts 4:12 KJV)
		</h4>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">
			If you would like to start a conversation with us (in the strictest confidence) about what you have read, or would like to know more about the Gospel. Drop us an email using 
			the box below and let us know a little bit about where you coming from (you do not have to use your own name) in terms of your views on God so that we can supply you with 
			appropriate materials for study.  
		</h4>
		<!-- NEWSLETTER FORM -->
		<form data-ng-submit="subLetterForm($event);" class="uk-form animated form_sign_in" autocomplete="off">
			<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
				<div class="uk-width-small-3-4 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
				</div>
				<div class="uk-width-small-1-4 uk-margin-bottom">
					<button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
				</div>
			</div>

			<!-- IF MAIL SENT SUCCESSFULLY -->
			<div class="success">E-mail has been added successfully.</div>
			<div class="success_response"></div>

			<!-- IF MAIL SENDING UNSUCCESSFULL -->
			<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
			<div class="error_response"></div>
		</form>
	</div>
</section>

<!-- Clients -->
<!--<section class="clients section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title clients_title">Our clients who work with us</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">Both large national corporate clients and small local businesses trust our team</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-bottom animated clients_slider" data-uk-slider>
			<div class="uk-slider-container clients_slider_container">
				<ul class="uk-slider uk-grid-width-medium-1-4 clients_list">
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-previous uk-border-circle clients_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next uk-border-circle clients_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>==>

<!-- Statistic -->
<!--<section class="statistic grey_overlay section" id="statistic">
	<div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center" data-uk-scrollspy="{cls:'select uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">Some facts about us</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">You will have a successful project that will deliver quality results for your business</h4>
		<div class="statistic_wrapper">
			<div class="uk-grid uk-grid-large">
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_1">0</span>
						</div>
						<div class="statistic_text">Projects</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_2">0</span>
						</div>
						<div class="statistic_text">Clients</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_3">0</span>
						</div>
						<div class="statistic_text">Hours spent</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_4">0</span>
						</div>
						<div class="statistic_text">Followers</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>-->

<!-- Gallery -->
<section class="gallery wide_four_item_gallery section" data-uk-scrollspy="{cls:'uk-active'}">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center animated section_title gallery_title">Gallery: Beeston is wonderful!</h3>
		<h4 class="uk-h4 uk-text-center uk-margin-large-bottom animated section_subtitle">The New Testament Church of God in Beeston is a wonderful place to come to know and grow in God. Hover over the images below to find reasons why we love being part of this branch of the family of God.</h4>
	</div>
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/beeston-festival.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Community Outreach</h4>
								<div class="uk-text-contrast gallery_description">Members of the New Testament Church of God bringing the hope of the Gospel message to the annual community festival</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/bible.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Bible-Based</h4>
								<div class="uk-text-contrast gallery_description">The New Testament Church of God is a Bible based church. It founders stating from the outset that the New Testament was the ultimate authority for all matters pertaining to church governance.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/tom_worship.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Joyful Worship</h4>
								<div class="uk-text-contrast gallery_description">Our services are characterised by the joyfulness with which we worship and offer thanks-giving and praise to God in Jesus name.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/sunday-school.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Young People</h4>
								<div class="uk-text-contrast gallery_description">The New Testament Church of God offers Christian education and activities for children of all ages. Provision is made in all our services for young people to enjoy themselves and be involved in the life of the church.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/gospel-concert.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Special Events</h4>
								<div class="uk-text-contrast gallery_description">In addition to our weekly services we schedule not to missed special events throughout the year for all the community to enjoy and be a part of.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/bible-study.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Discipleship and Bible Study</h4>
								<div class="uk-text-contrast gallery_description">The New Testament Church of God in Beeston is blessed to have several experienced ministers in the congregation to assist you in your walk of faith in Jesus Christ</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/Outreach-City-Centre.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">City Centre Outreach</h4>
								<div class="uk-text-contrast gallery_description">Regular outreach to Leeds city centre on Saturday evenings in conjunction with our sister church at Easterly Road. Tea, coffee, biscuits and the word of life.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/outside-church.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Church Family Together</h4>
								<div class="uk-text-contrast gallery_description">The New Testament Church of God believes that all its members have part to play in the on-going story of the victory of the local church as a focal point of Gods kingdom in our community.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Team -->
<section class="team section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title team_title">Ministry Team</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">The ministry team at Beeston NTCG is focused on serving the need of the church and the community, for which task they request that prayers be petitioned on their behalf.</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-5 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/rev-comrie.png" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Rev Jasmine Comrie</h4>
					<div class="uk-margin-bottom team_position">Senior Pastor</div>
					<div class="uk-margin-bottom team_description">Rev Jasmine Comrie is the former District Evangelism Director, Magistrate and Midwife and the daughter of one of the founding members of the New Testament Church of God in Beeston</div>
					<!-- <ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul> -->
				</div>
			</div>
			<div class="uk-width-large-1-5 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/bro-stanley-hutton.png" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Bro Stanley Hutton</h4>
					<div class="uk-margin-bottom team_position">Deacon</div>
					<div class="uk-margin-bottom team_description">"Bro John" as he is affectionately known is a Father figure to many at NTCG Beeston and loves God with his whole heart.</div>
					<!-- <ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-youtube social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-skype social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul> -->
				</div>
			</div>
			<div class="uk-width-large-1-5 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/bro-tom.png" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Bro Thomas Hatton</h4>
					<div class="uk-margin-bottom team_position">Deacon</div>
					<div class="uk-margin-bottom team_description">Bro Thomas is a married and father of three and has been a member of the New Testament Church of God for fifteen years.</div>
					<!-- <ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul> -->
				</div>
			</div>
			<div class="uk-width-large-1-5 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/rev-simms.png" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Rev L Simms</h4>
					<div class="uk-margin-bottom team_position">Minister</div>
					<div class="uk-margin-bottom team_description">Rev Simms pastored Beeston New Testament Church for 10 years prior to Rev Comrie and is still very much invloved in the ministry, preaching and teaching.</div>
					<!-- <ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-behance social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-instagram social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul> -->
				</div>
			</div>
			<div class="uk-width-large-1-5 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/rev-brown.png" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Rev W Browne</h4>
					<div class="uk-margin-bottom team_position">Minister</div>
					<div class="uk-margin-bottom team_description">Pastor Browne and his wife have pastored numerous New Testament churches in the west yorkshire district including Beeston where they now continue to bless us through music, preaching and teaching ministry.</div>
					<!-- <ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-behance social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-instagram social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Video -->
<!--<section class="video_preview grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title team_title">Video presentation</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">We offer a wide range of business services including data analysis and reporting</h4>
		<a class="uk-border-circle uk-icon-play animated video_button" href="https://www.youtube.com/embed/K48-Li7lIfA" data-uk-lightbox="{group:'group1'}" data-lightbox-type="iframe"></a>
	</div>
</section>-->

<!-- Reviews -->
<!--<section class="reviews section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title reviews_title">Our customers</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We've helped customers all around the world create beautifully effective websites</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-large-bottom animated reviews_slider" data-uk-slider>
			<div class="uk-slider-container">
				<ul class="uk-slider reviews_list">
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Kenneth Lewis</div>
								<div class="reviews_position">Founder and CEO</div>
							</div>
						</div>
					</li>
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Kimberly Davis</div>
								<div class="reviews_position">Marketing manager</div>
							</div>
						</div>
					</li>
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Carl Walker</div>
								<div class="reviews_position">PR Manager</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous uk-border-circle reviews_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next uk-border-circle reviews_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>-->

<!-- Promo -->
<!--<section class="promo sepia_overlay section">
	<div class="uk-position-relative uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title promo_title">Perfect for any kind of presentation</h3>
		<h4 class="uk-h4 uk-text-contrast animated section_subtitle promo_text">Lets build something beautiful together and make it work for you</h4>
		<div data-ng-click="scrollTop()" class="uk-button uk-button-large button_custom_green uk-border-rounded uk-margin-top animated promo_button">Purchase now</div>
	</div>
</section>-->

<!-- Contact -->
<section class="contact grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-position-relative uk-text-contrast animated section_title contact_title">Get in touch</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">If you have any questions, then please fill our contact form to get actual information about our project</h4>

		<!-- MESSAGE FORM -->
		<form data-ng-submit="contactForm($event);" class="uk-form animated form_send_message" autocomplete="off">
			<div class="uk-grid uk-grid-small uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="name" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="Name">
				</div>
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="E-mail">
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<textarea name="message" class="uk-width-1-1 uk-text-contrast form_textarea" placeholder="Message"></textarea>
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<button class="uk-button button_custom_green uk-width-1-1 form_button" type="submit">Send message</button>
				</div>
			</div>

			<!-- IF MAIL SENT SUCCESSFULLY -->
			<div class="success">Your message has been sent successfully.</div>
			<div class="success_response"></div>

			<!-- IF MAIL SENDING UNSUCCESSFULL -->
			<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
			<div class="error_response"></div>
		</form>
	</div>
</section>

<!-- Address -->
<section class="address section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title address_title">Contacts</h3>
		<h4 class="uk-h4 animated uk-margin-large-bottom section_subtitle">If you require any further information, feel free to contact us</h4>
		<div class="uk-grid uk-grid-large address_wrapper">
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-map-marker address_label"></div>
					<h4 class="address_title">Church location</h4>
					<div class="address_text">Dewsbury Road, Beeston<br>Leeds, LS11 5HR</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-phone address_label"></div>
					<h4 class="address_title">Call us</h4>
					<div class="address_text">07982 905025<br>07985 484353</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-envelope-o address_label"></div>
					<h4 class="address_title">Email address</h4>
					<div class="address_text">info@ntcgbeeston.org<br>prayer@ntcgbeeston.org</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Map -->
<div class="map" id="map"></div>

<!-- Footer -->
<footer class="footer">
	<div class="uk-container uk-container-center uk-text-center">
		<ul class="uk-list social_list">
			<li class="social_list_item">
				<a class="uk-icon-facebook social_list_item_link" href="https://www.facebook.com/NTCGBeeston/"></a>
			</li>
			<!-- <li class="social_list_item">
				<a class="uk-icon-twitter social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-dribbble social_list_item_link" href="#"></a>
			</li> -->
			<li class="social_list_item">
				<a class="uk-icon-youtube social_list_item_link" href="#"></a>
			</li>
		</ul>
		<div class="footer_message">© 2020 NTCG Beeston. All Rights Reserved</div>
	</div>
</footer>

<!-- Scroll arrow -->
<div data-ng-click="scrollTop()" class="scroll_top"></div>

</div>

<!-- Mobile menu -->
<div id="mobile_nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-offcanvas">
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_features" href="#">Service Times</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_offer" href="#">About Us</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_pricing" href="#">Beliefs</a>
			</li>
			<!--<li class="">
				<a data-ng-click="scrollNav($event)" class="link_clients" href="#">Clients</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_facts" href="#">Facts</a>
			</li>-->
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_projects" href="#">Gallery</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_team" href="#">Ministry Team</a>
			</li>
			<!-- <li class="">
				<a data-ng-click="scrollNav($event)" class="link_customers" href="#">Testimonies</a>
			</li> -->
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_visit" href="#">Contact</a>
			</li>
		</ul>
	</div>
</div>

<!-- Modal subscribe window -->
<div id="modal_subscribe" class="uk-modal subscribe_window">
    <div class="uk-modal-dialog uk-text-center uk-border-rounded">
		<h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>
		<!-- NEWSLETTER FORM -->
		<form data-ng-submit="subLetterForm($event);" class="uk-form form_sign_in" autocomplete="off">
			<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
				<div class="uk-width-medium-3-4 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
				</div>
				<div class="uk-width-medium-1-4 uk-margin-bottom">
					<button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
				</div>
			</div>
			<div class="response_wrapper">
				<!-- IF MAIL SENT SUCCESSFULLY -->
				<div class="success">E-mail has been added successfully.</div>
				<div class="success_response"></div>

				<!-- IF MAIL SENDING UNSUCCESSFULL -->
				<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
				<div class="error_response"></div>
			</div>
		</form>
        <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
    </div>
</div>



<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ngTouch.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh4BFOweIa7JsjeYjB-BiJ1n8OQCOaKHc"></script>
<script type="text/javascript" src="js/uikit.min.js"></script>
<script type="text/javascript" src="js/slideshow.min.js"></script>
<script type="text/javascript" src="js/slideshow-fx.min.js"></script>
<script type="text/javascript" src="js/slider.min.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="js/countUp.js"></script>
<script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript" src="js/scripts.ang.js"></script>
</body>
</html>